<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Carbon Home</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="application/javascript" src="../static/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <style type="text/css">
        * {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        }

        .currentIndex {
            color: white;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
            padding-left: 1em;
        }

        .currentIndex-low {
            background-color: limegreen;
        }

        .currentIndex-moderate {
            background-color: orange;
        }

        .currentIndex-high {
            background-color: red;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }

        #todaysIntensity svg, #averageIntensity svg{
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<a href="">Intensity</a>
<a href="">Region</a>
<h1>Power Generation Mix</h1>
<div id="container" style="width:100%; height:400px;"></div>
<p>This chart represents the means by which electricity is currently being produced in the UK.</p>
<h1>Current Carbon Intensity</h1>
<h2>The current carbon dioxide output</h2>
<div class="currentIndex currentIndex-" th:attrappend="class=${currentIntensity.intensity.index}">
    <p>Forecast: <span th:text="${currentIntensity.intensity.forecast}"></span>gCO2/kWh</p>
    <p>Actual: <span th:text="${currentIntensity.intensity.actual}"></span>gCO2/kWh</p>
    <p>Index: <span th:text="${currentIntensity.intensity.index}"></span></p>
</div>
<h2>Today's energy usage is:</h2>
<p>Make this into a line graph</p>
<div id="todaysIntensity"></div>
<h2>These are the average carbon intensity output of power sources:</h2>
<div id="averageIntensity"></div>
<div th:text="${factors}"></div>
<script th:inline="javascript">
    var buffer = 10;
    var paddingTop = 10;
    var paddingBottom = 30;
    var paddingLeft = 50;
    var height = 400;
    var width = screen.width / 10 * 8;

    /*Bar Graph*/
    var barChart = d3.select("#averageIntensity").append("svg")
        .attr("height", height + paddingTop + paddingBottom)
        .attr("width", width + paddingLeft);

    var barNodes = /*[[${factors}]]*/ null;

    var ordinalValues = new Array();

    for(var i = 0; i < barNodes.length; i++){
        ordinalValues.push(barNodes[i].name);
    }

    //Build the verticle axis
    var scaleLin = d3.scaleLinear().domain([1100, 0]).range([0, height]);
    var axisVer = d3.axisLeft(scaleLin);
    barChart.append("g")
        .attr("transform", "translate(" + paddingLeft + ", " + paddingTop + ")")
        .call(axisVer);

    //Build the horizontal axis
    var scaleBand = d3.scaleBand().domain(ordinalValues).range([0, width]);
    var axisHor = d3.axisBottom(scaleBand);
    barChart.append("g")
        .attr("transform", "translate(" + paddingLeft + ", " + (height + paddingTop) + ")").call(axisHor);

    //reversed scale for setting bar height
    var scaleLinBar = d3.scaleLinear().domain([0, 1100]).range([0, height]);

    barChart.selectAll("rect .bars")
        .data(barNodes)
        .enter()
        .append("svg:rect")
        .attr("class", "bars")
        .attr("x", function (d) {
            return scaleBand(d.name) + paddingLeft;
        })
        .attr("y", function (d) {
            return paddingTop + height - scaleLinBar(d.value);
        })
        .attr("width", scaleBand.bandwidth())
        .attr("height", function (d) {
            return scaleLinBar(d.value);
        })
        .attr("fill", "green");

/*
    /!*Todays Intensity Line Graph*!/
    var linechart = d3.select("#todaysIntensity").append("svg")
        .attr("height", height + paddingTop + paddingBottom)
        .attr("width", width + paddingLeft);

    /!*Forecast nodes, these are gotten from the model if present, otherwise null*!/
    var nodes = /!*[[${lineChartData}]]*!/ null;

    /!*Helper method, get the horizontal position of a data point*!/
    var getYValue = function (index) {
        var distBetweenNodes = width / nodes.length; /!*needs to be more dynamic, how dose it handle two datasets*!/
        return index * distBetweenNodes + paddingLeft;
    };

    /!*Get the maximum value from the data*!/
    var scaleMax = function () {
        if (nodes != null) {
            var max = nodes[0].value;
            for (var i = 1; i < nodes.length; i++) {
                if(nodes[i].value > max){
                    max = nodes[i].value;
                }
            }
        }
        return max + buffer;
    };

    /!*Get the minimum value from the data*!/
    var scaleMin = function () {
        if (nodes != null) {
            var min = nodes[0].value;
            for (var i = 1; i < nodes.length; i++) {
                if(nodes[i].value < min){
                    min = nodes[i].value;
                }
            }
        }
        return min - buffer;
    };

    /!*Set the vertical scale*!/
    var scaleX = d3.scale.linear()
        .domain([scaleMax(), scaleMin()])
        .range([0, height]);

    /!*Set the horizontal scale*!/
    var scaleY = d3.time.scale()
        .domain([
            new Date(nodes[0].from),
            new Date(nodes[nodes.length -1].from)
        ])
        .range([0, width]);

    /!*Create the horizontal axis*!/
    var yAxis = d3.svg.axis().scale(scaleY).orient("bottom").ticks(12);

    /!*Create the vertical axis*!/
    var xAxis = d3.svg.axis().scale(scaleX).orient("left");

    /!*Append both axises to the chart*!/
    linechart.append("g").attr("transform", "translate(" + paddingLeft + "," + height + ")").attr("class", "axis") .call(yAxis);
    linechart.append("g").attr("transform", "translate(" + paddingLeft + ", 0)").attr("class", "axis") .call(xAxis);

    /!*Get the line values*!/
    var getLinks = function(dataset){
        var links = [];
        for(var i = 0; i < dataset.length - 1; i++){
            var source = {
                x: getYValue(i),
                y: scaleX(dataset[i].value)
            };
            var target = {
                x: getYValue(i + 1),
                y: scaleX(dataset[i + 1].value)
            };
            links.push({source: source, target: target});
        }
        return links;
    };

    /!*Create the circle points for forecast data*!/
    linechart.selectAll("circle .nodes")
        .data(nodes)
        .enter()
        .append("svg:circle")
        .attr("class", "nodes")
        .attr("cx", function (d, i) {
            return getYValue(i);
        })
        .attr("cy", function (d) {
            return scaleX(d.value);
        })
        .attr("r", "3px")
        .attr("fill", "blue");

    /!*Create the lines to join the circle points for forecast data*!/
    linechart.selectAll(".line")
        .data(getLinks(nodes))
        .enter()
        .append("line")
        .attr("x1", function(d) { return d.source.x })
        .attr("y1", function(d) { return d.source.y })
        .attr("x2", function(d) { return d.target.x })
        .attr("y2", function(d) { return d.target.y })
        .style("stroke", "blue")
        .style("stroke-width", "6");

    var actualpoints = new Array();
    for(var i = 0; i < nodes.length; i++){
        if(nodes[i].actual > 0){
            actualpoints.push(nodes[i].actual);
        }else{
            break;
        }
    }

    /!*Create the circle points for the actual data*!/
    linechart.selectAll("circle .nodes")
        .data(actualpoints)
        .enter()
        .append("svg:circle")
        .attr("class", "nodes")
        .attr("cx", function (d, i) {
            return getYValue(i);
        })
        .attr("cy", function (d) {
            return scaleX(d);
        })
        .attr("r", "3px")
        .attr("fill", "red");

    var getActualLinks = function(dataset){
        var links = [];
        for(var i = 0; i < dataset.length - 1; i++){
            var source = {
                x: getYValue(i),
                y: scaleX(dataset[i])
            };
            var target = {
                x: getYValue(i + 1),
                y: scaleX(dataset[i + 1])
            };
            links.push({source: source, target: target});
        }
        return links;
    };

    linechart.selectAll(".line")
        .data(getActualLinks(actualpoints))
        .enter()
        .append("line")
        .attr("x1", function(d) { return d.source.x })
        .attr("y1", function(d) { return d.source.y })
        .attr("x2", function(d) { return d.target.x })
        .attr("y2", function(d) { return d.target.y })
        .style("stroke", "red")
        .style("stroke-width", "6");*/

    /*Generation Mix Pie Chart*/
    document.addEventListener('DOMContentLoaded', function () {
        var chartData = /*[[${pieChartData}]]*/ '{name: \'No data returned\', y: 100}';
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Breakdown on the means of power generation and their contribution to the grid'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Power Generation Type',
                colorByPoint: true,
                data: /*[[${pieChartData}]]*/ {name: 'No data returned', y: 100}
            }]
        });
    });
</script>
</body>
</html>